<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="iSpa.Properties.Settings.ConnectionISpa" connectionString="Data Source=HEGLOCAL;Persist Security Info=True;User ID=iSpa_user;Password=iSpa_user;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="iSpa.Properties.Settings.ConnectionDatasiSpa" connectionString="Data Source=HEGLOCAL;Persist Security Info=True;User ID=iSpa_data;Password=iSpa_data;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="iSpa.Properties.Settings.ConnectionISpaData" connectionString="DATA SOURCE=HEGLOCAL;PASSWORD=iSpa_data;USER ID=ISPA_DATA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>